FIREBASE_API_KEY=""
FIREBASE_AUTH_DOMAIN=""
FIREBASE_PROJECT_ID=""
FIREBASE_STORAGE_BUCKET=""
FIREBASE_MESSAGING_SENDER_ID=""
FIREBASE_APP_ID=""

# Número da agência com DDD (Apenas números) para receber o alerta do novo lead
AGENCY_WHATSAPP_NUMBER="5511999999999"

# Se o Chrome não for encontrado na pasta padrão, defina o caminho dele (Opcional)
CHROME_PATH="C:\Program Files\Google\Chrome\Application\chrome.exe"
